body {
  color: #222;
  font-family: 'Lato', sans-serif;
}

.add {
  background: linear-gradient(white, lightgray);
  height: 50px;
  border-radius: 5px;
  width: 30%;
  margin: 1em 0 0 1em;
}

#add-btn {
  width: 20px;
  position: relative;
  top: 1em;
  left: 1em;
  cursor: pointer;
}

.item {
  background-color: white;
  border: 1px solid #222;
  border-radius: 5px;
  width: 30%;
  margin-left: 1em;
  height: 50px;
}

.reorder {
  background-color: lightblue;
  width: 10%;
  cursor: move;
  height: 100%;
  display: inline-block;
}

.remove {
  float: right;
  cursor: pointer;
}

.custom-placeholder {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #222;
  background-color: #ddd;
  width: 30%;
  margin-left: 1em;
}

